.card {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: auto;
  .img-container {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 250px;
    img {
      position: relative;
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
  }
  .card-footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1em;
    .left {
      .name {
        font-size: 1.1rem;
      }
      .price {
        font-weight: 500;
      }
    }
    .card-icon {
      font-size: 1.8rem;
      color: red;
      cursor: pointer;
    }
  }
}
