.products-section {
  width: 80%;
  margin: 0 auto;
  h2 {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
  }
  .product-grid {
    width: 100%;
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    place-items: center;
    .card {
      grid-column: span 1;
    }
  }
}
